.login-form {
    padding-top: 15%;
    text-align: center;
    width: 100%;
}

div.col {
    display: flex;
    flex-direction: column;
    width: 200px;
}

div.col input:not(:last-child) {
    margin-bottom: 10px;
}

form {
    display: inline-block;
    position: relative;
}